/* SERVER INFO */


.server-info{
    background-color: var(--dark-green);
    /* background: rgb(121,93,74); */
    /* background: linear-gradient(90deg, rgba(121,93,74,1) 3%, rgba(88,49,25,1) 88%); */
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.server-info > .background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../assets/mc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%);
    z-index: 1;
    border-radius: 5px;
    width: 85vw;
    height: 80vh;
    /* height: 100vh;
    width: 100vw; */
    -webkit-box-shadow: 20px 20px 40px -25px rgba(66, 68, 90, 1);
    -moz-box-shadow: 20px 20px 40px -25px rgba(66, 68, 90, 1);
    box-shadow: 20px 20px 40px -25px rgba(66, 68, 90, 1);
}

.info-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    color: var(--font);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    height: 60%;
    border-radius: 5px;
}

.info-div > div > a > img{
    transform: scale(1.6);
    border-radius: 3px;
    border: 6px solid var(--dark-green);
}

.info-div > div > svg{
    position: absolute;
    top: 77%;
    left: 97%;
    transform: translate(-50%, -50%) rotate(320deg);
    height: 180px;
    color: var(--red);
    pointer-events: none;
    z-index: 99;
}

.info-div > h2 {
    font-size: 6em; 
}

.server-adress{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.info-div > .server-adress > h3 {
    font-size: 2.5em; 
    color: var(--darker-font);
}

.info-div > .server-adress > p {
    font-size: 2.5em; 
    color: var(--red);
}







/* OUR OFFER */


.our-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background: rgb(51,38,31);
    background: linear-gradient(90deg, rgba(51,38,31,1) 23%, rgba(106,81,64,1) 99%);
    color: var(--font);
}

.description > ul >  h5{
    font-size: 1.5em;
    color: var(--font);
    margin: 20px;
}

.our-offer > .description > h1{
    font-size: 4em;
    text-shadow: 2px 2px 5px #000000b3;
    margin-bottom: 0.5em;
}

.description{
    border-radius: 10px;
    width: 65vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    background-color: var(--brown);
    padding: 35px;
    -webkit-box-shadow: 20px 20px 40px -25px rgba(0, 0, 0, 1);
    -moz-box-shadow: 20px 20px 40px -25px rgba(0, 0, 0, 1);
    box-shadow: 20px 20px 40px -25px rgba(0, 0, 0, 1);
}







/* FOOTER */


footer{
    background-color: var(--brown);
    height: auto;
}

footer > p{
    padding: 10px;
    color: #bbbbbb;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 1.1em;
}

footer > p > a{
    color: #7cbd64;
    transition: 0.3s;
}

footer > p > a:hover{
    color: #507443;
}

footer > p > a:active{
    color: #9fdf88;
}