.our-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background: rgb(51,38,31);
    background: linear-gradient(90deg, rgba(51,38,31,1) 23%, rgba(106,81,64,1) 99%);
    color: white;
}

.description > ul >  h5{
    font-size: 1.5em;
    color: #dfdfdf;
    margin: 20px;
}

.our-offer > .description > h1{
    font-size: 4em;
    text-shadow: 2px 2px 5px #000000b3;
    margin-bottom: 0.5em;
}

.description{
    border-radius: 10px;
    width: 65vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    background-color: rgb(39, 26, 17);
    -webkit-box-shadow: 20px 20px 40px -25px rgba(0, 0, 0, 1);
    -moz-box-shadow: 20px 20px 40px -25px rgba(0, 0, 0, 1);
    box-shadow: 20px 20px 40px -25px rgba(0, 0, 0, 1);
}