/* RULES */



.rules{
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    height: 100vh;
    background: rgb(51,38,31);
    background: linear-gradient(90deg, rgba(51,38,31,1) 23%, rgba(106,81,64,1) 99%);
    color: var(--font);
}

.rules > h1{
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.rules > h1:hover{
    transform: scale(1.3);
    cursor: pointer;
}



.rules > ol > li > strong::before{
    content: "➜ ";
}

.rules > ol > li > strong{
    font-size: 1.5em;
    margin: 30px;
    line-height: 1.2;
}

.rules > ol > li > ul > p{
    margin: 5px;
    line-height: 1.2;
    color: var(--darker-font);
}






/* DISCLAIMER */


.disclaimer{
    min-height: 100vh;
}