#server-info{
    background-color: rgb(26, 91, 34);
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#server-info > div{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 85vw;
    height: 80vh;
}

.info-div{

}